@import url(~normalize.css);
@import url(~@blueprintjs/core/lib/css/blueprint.css);

@import url(~@blueprintjs/icons/lib/css/blueprint-icons.css);
a:link {
  color: #8e3168;
  text-decoration: underline; }

a:visited {
  color: #5c255c;
  text-decoration: underline; }

.Nav-bar {
  background-color: #df90b8; }

body {
  background-color: #e1bae1;
  padding-top: 50px; }

.Popover-message {
  padding: 1em;
  color: white;
  background-color: #5c255c; }
  .Popover-message h2 {
    font-size: 1.2em;
    text-align: center; }
  .Popover-message .Popover-buttons {
    display: flex;
    width: 100%;
    justify-content: center; }
    .Popover-message .Popover-buttons button {
      margin-left: 1em; }

.Home {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center; }

.Links {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  text-align: center; }
  .Links .Link {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .Links .Link .Button button {
      margin: 1em;
      color: white;
      background-color: #5c255c; }
    .Links .Link img {
      width: 20em;
      height: 15em;
      align-self: center; }

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .page-container .white-space {
    padding: 1em; }
  .page-container p {
    width: 40%;
    text-indent: 1em;
    text-align: justify; }
  .page-container .change-user-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around; }
    .page-container .change-user-buttons .Boton {
      background-color: #cf6a97; }
  .page-container .Add-item {
    padding: 2%; }
  .page-container .Spin {
    align-self: center;
    z-index: -1; }
  .page-container .List {
    display: grid;
    width: 100%;
    grid-template-columns: 22% 22% 22% 22%;
    align-content: center;
    justify-content: center; }
    .page-container .List button {
      margin-bottom: 1em; }
    .page-container .List .Item:hover {
      box-shadow: 0 0 1em 0.1em #5c255c; }
    .page-container .List .Item {
      border-radius: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #cf6a97;
      height: auto;
      margin-left: 2.5%;
      margin-right: 2.5%;
      margin-bottom: 5%;
      padding: 1%; }
      .page-container .List .Item img {
        box-shadow: 0 0 1em 0.5em #8e3168;
        margin-top: 1em;
        width: 7em;
        height: 10em; }
      .page-container .List .Item .title {
        height: auto;
        width: 100%;
        white-space: nowrap;
        overflow: hidden; }
      .page-container .List .Item .title:hover {
        white-space: normal; }
      .page-container .List .Item h1 {
        font-size: 1.4em;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden; }
      .page-container .List .Item .Description {
        width: 60%;
        flex-direction: column;
        justify-content: flex-end; }
      .page-container .List .Item .description-text {
        margin-left: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left; }
      .page-container .List .Item .description-text:hover {
        white-space: normal; }
      .page-container .List .Item h2 {
        font-size: 1em;
        text-overflow: ellipsis;
        overflow: hidden; }

.Sinopsis {
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 2%;
  box-shadow: 0 0 1em 1em #8e3168;
  position: fixed;
  margin-left: 25%;
  height: 85%;
  width: 50%;
  padding: 1em 3em 1em 3em;
  display: flex;
  flex-direction: column;
  background-color: #b4497c; }
  .Sinopsis .sinopsis-img {
    width: 40%;
    align-self: center;
    box-shadow: 0 0 0em 0.3em #5c255c; }
  .Sinopsis .close {
    margin-left: 90%;
    width: 4em; }
  .Sinopsis h1 {
    text-align: center; }
  .Sinopsis h3 {
    width: 100%;
    text-align: center; }
  .Sinopsis p {
    width: 100%;
    text-align: justify;
    text-indent: 1em;
    height: auto; }

.form-div {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 90%;
  height: auto;
  margin-left: 10%;
  padding: 1%;
  position: fixed; }
  .form-div .image-preview {
    width: 40%;
    box-shadow: 0 0 0em 1em #8e3168;
    margin: 10%;
    height: 60%;
    background-color: #8e3168; }
  .form-div .Edit {
    margin-top: 2%;
    box-shadow: 0 0 1em 1em #8e3168;
    margin-left: 30%;
    background-color: #b4497c;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1em; }
    .form-div .Edit .Edit-entry {
      align-items: center;
      width: 100%; }
    .form-div .Edit .Edit-input {
      width: 100%; }
    .form-div .Edit .File-input {
      width: 100%;
      margin-bottom: 1em; }
    .form-div .Edit .edit-buttons {
      align-self: center;
      display: flex;
      justify-content: space-around; }
    .form-div .Edit .submit-button {
      width: 40%;
      align-self: center; }
    .form-div .Edit label {
      text-align: left;
      font-size: 2em;
      width: 30%;
      text-indent: 0em;
      text-align: inline; }
    .form-div .Edit h4 {
      font-size: 1em;
      width: 6em; }
    .form-div .Edit p {
      font-size: 0.6em;
      text-align: justify; }
